{% extends 'base.html' %}

{% block title %}Activiteiten overzicht{% endblock %}

{% block body %}
<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">
    <script src="/js/csvDownload.js"></script>
    <h1>Activiteiten overzicht</h1>
    <nav class="navbar navbar-expand-lg sticky-top" id="kopje1">
        <ul class="nav navbar-nav flex-row justify-content-between">
            <li>
                <a href="/administrator/Activity">Activiteiten</a>
                <a href="/administrator/Timeslot">Timeslots</a>
                <a href="/administrator/Users">Gebruikers</a>
            </li>
        </ul>
    </nav>
    {% for message in flash_messages %}
    <div class="alert alert-{{ message.type}}">
        {{ message.body }}
    </div>
    {% endfor %}
    <form method="post" action="/Administrator/updateActivity" id="formActivity">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Activiteit</th>
                <th>(de)Activeren</th>
                <th>Verwijderen</th>
            </tr>

            <ul>

                {% for interest in interests %}
                <tr>
                    {%if interest.is_active %}
                    <td><label for="{{interest.id}}">{{interest.Interest}}</td>
                    <td>
                        <input id="{{interest.id}}" type="checkbox" name="InterestActivate[]" value="{{interest.id}}"
                               checked/></td>
                    <td>
                        <input type="checkbox" name="InterestDelete[]" value="{{interest.id}}"/></td>

                </tr>
                {% else %}
                <tr>
                    <td><label for="{{interest.id}}"> {{interest.Interest}}</td>
                    <td>
                        <input id="{{interest.id}}" type="checkbox" name="InterestActivate[]" value="{{interest.id}}"/>
                    </td>
                    <td>
                        <input type="checkbox" name="InterestDelete[]" value="{{interest.id}}"/></td>
                    {%endif %}
                </tr>
                {% endfor %}


            </ul>
        </table>
        <!--    <button class="btn btn-default" onclick="exportTableToCSV('members.csv')">Export HTML tabel naar CSV file</button>-->

        <button type="submit" class="btn btn-default" value="Submit">Aanpassingen doorvoeren</button>

    </form>
    <br>
    <form method="post" action="/Administrator/addActivity" id="addActivity">
        <input type="text" name="activityName" placeholder="Activiteitnaam">
        <input class="btn btn-default" type="submit" name="submit" value="Toevoegen">
    </form>
</article>


{% endblock %}