{% extends 'base.html' %}

{% block title %}Gebruikers{% endblock %}

{% block body %}
<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">
    <script src="/js/sortTable.js"></script>
    <script src="/js/csvDownload.js"></script>

    <h1>Gebruikers overzicht</h1>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a href="/administrator/Activity" class="btn btn-default" role="button">Activiteiten</a>
            <a href="/administrator/Timeslot" class="btn btn-default" role="button">Beschikbaarheid</a>
            <a href="/administrator/Users" class="btn btn-default active" role="button">Gebruikers</a>
        </form>
    </nav>
    <br>
    <form method="post" action="/administrator/search">
        <input type="text" name="query" placeholder="Zoekterm">
        <select class="btn btn-default" name="column">
            <option value="firstname">Voornaam</option>
            <option value="lastname">Achternaam</option>
        </select>
        <button class="btn btn-default" name="submit" type="submit" value="Zoek">Zoek</button>
    </form>
    <form method="post" action="/administrator/adminupdate">
        <br>
        <table class="table table-striped table-bordered table-hover" id="myTable">
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Voornaam</th>
                <th onclick="sortTable(2)">Achternaam</th>
                <th onclick="sortTable(3)">Email</th>
                <th onclick="sortTable(4)">Telefoonnummer</th>
                <th onclick="sortTable(5)">Geboortedatum</th>
                <th onclick="sortTable(6)">Administrator</th>
            </tr>
            {% for user in users %}
            <tr>
                <td> {{user.id}}</td>
                <td> {{user.firstname}}</td>
                <td> {{user.lastname}}</td>
                <td> {{user.email}}</td>
                <td> {{user.phonenumber}}</td>
                <td> {{user.birthdate}}</td>
                {% if user.is_admin == '1' %}
                <td><input checked name="is_admin[]" type="checkbox" value="{{user.id}}"/></td>
                {% else %}
                <td><input name="is_admin[]" type="checkbox" value="{{user.id}}"/></td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
        <button type="submit" class="btn btn-default" value="Submit">Aanpassingen doorvoeren</button>
    </form>
    <br>
    <button class="btn btn-default" onclick="exportTableToCSV('gebruikers.csv')">Downloaden naar CSV file</button>
    <!--<button type="submit" class="btn btn-default" value="Submit">Downloaden als CSV</button>-->
    </div>
</article>


{% endblock %}