{% extends 'base.html' %}

{% block title %}Activities{% endblock %}

{% block body %}

<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">

    <h1>Activiteiten</h1>
    <p>Hieronder de activiteiten waar je uit kunt kiezen.</p>

    <form method="post" action="/Activities/select">
        <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Activiteit</th>
                <th>Voorkeur</th>
            </tr>

            {% for interest in interests if interest.is_active %}

            <tr>
                <td><label for="{{interest.id}}">{{interest.Interest}}</label></td>
                <td class="checkbox-centered">
                    <input id="{{interest.id}}" name="Interest[]" type="checkbox" value="{{interest.id}}"/></td>

            </tr>
            {% endfor %}


        </table>

        <button type="submit" class="btn btn-default" value="Submit">Opslaan</button>


    </form>
</article>


{% endblock %}