{% extends 'base.html' %}

{% block title %}Profiel{% endblock %}
{% block script %}
<script src="/js/hideShowPassword.min.js"></script>
<script src="/js/app.js"></script>
<script>

    $(document).ready(function () {

        var userId = '{{user.id}}';
        /**
         * Validate the form
         */
        $('#formProfile').validate({
            rules: {
                firstname: 'required',
                email: {
                    required: true,
                    email: true,
                    remote: {
                        url: '/account/validate-email',
                        data: {
                            ignore_id: function () {
                                return userId;
                            }
                        }
                    }
                },
                password: {
                    minlength: 6,
                    validPassword: true
                }
            },
            messages: {
                email: {
                    remote: 'Email adres is al in gebruik'
                }
            }
        });


        /**
         * Show password toggle button
         */
        $('#password').hideShowPassword({
            show: false,
            innerToggle: 'focus'
        });
    });
</script>

{% endblock %}


{% block body %}
<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">
    <h1>Profiel</h1>

    {% if user.errors is not empty %}
    <p>Errors:</p>
    <ul>
        {% for error in user.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action="/profile/update" id="formProfile" method="post">
        <div class="form-group">
            <label for="firstName">Voornaam</label>
            <input class="form-control" id="firstName" name="firstname" placeholder="Voornaam" type="text"
                   value="{{user.firstname}}">
        </div>
        <div class="form-group">
            <label for="lastName">Achternaam</label>
            <input class="form-control" id="lastName" name="lastname" placeholder="Achternaam" type="text"
                   value="{{user.lastname}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" placeholder="Email adres" type="email"
                   value="{{user.email}}">
        </div>
        <div class="form-group">
            <label for="password">Wachtwoord</label>
            <input aria-describedby="helpBlock" class="form-control" id="password" name="password"
                   placeholder="Wachtwoord" type="password">
            <span class="helpBlock" id="helpBlock"> Leave blank to keep current password</span>

        </div>
        <!--    <div>
                <label for="inputPasswordConfirmation">Herlaas wachtwoord</label>
                <input id="inputPasswordConfirmation" type="password" class="text" name="password_confirmation" placeholder="Wachtwoord" >
            </div>-->
        <div class="form-group">
            <label for="phoneNumber">Telefoonnummer</label>
            <input class="form-control" id="phoneNumber" name="phonenumber"
                   pattern="^(?:\(\d{3}\)|\d{3})[- ]?\d{3}[- ]?\d{4}$" placeholder="0612345678" type="text"
                   value="{{user.phonenumber}}">
        </div>
        <div class="form-group">
            <label for="birthDate">Geboortedatum</label>
            <input class="form-control" id="birthDate" name="birthdate" placeholder="Geboortedatum (dd-mm-jjjj)"
                   type="date" value="{{user.birthdate}}">
        </div>

        <br>

        <div class=" row">
            <div class="form-group column">
                <p>Voorkeur om mee te sporten</p>
                {% if user.preferredgender == 'man' %}
                <label for="male"></label>
                <input checked id="male" name="preferredgender" type="radio" value="man"> Man<br>
                <label for="female"></label>
                <input id="female" name="preferredgender" type="radio" value="vrouw"> Vrouw<br>
                <label for="Beide"></label>
                <input id="Beide" name="preferredgender" type="radio" value="geen"> Geen voorkeur<br>
                {% elseif user.preferredgender == 'vrouw' %}
                <label for="male"></label>
                <input id="male" name="preferredgender" type="radio" value="man"> Man<br>
                <label for="female"></label>
                <input checked id="female" name="preferredgender" type="radio" value="vrouw"> Vrouw<br>
                <label for="Beide"></label>
                <input id="Beide" name="preferredgender" type="radio" value="geen"> Geen voorkeur<br>
                {% elseif user.preferredgender == 'geen' %}
                <label for="male"></label>
                <input id="male" name="preferredgender" type="radio" value="man"> Man<br>
                <label for="female"></label>
                <input id="female" name="preferredgender" type="radio" value="vrouw"> Vrouw<br>
                <label for="Beide"></label>
                <input checked id="Beide" name="preferredgender" type="radio" value="geen"> Geen voorkeur<br>
                {%endif%}
            </div>

        </div>

        <br>
        <button class="btn btn-default" type="submit">Save</button>
        <a href="/profile/show">Cancel</a>

    </form>
</article>

{% endblock %}

