{% extends 'base.html' %}

{% block title %}Profiel{% endblock %}

{% block body %}
<script src="/js/sortTable.js"></script>
<article class="container opacity shadow p-3 mb-4 mt-4 col-xl-8 bg-light">
    <h1>Profiel</h1>

    <dl class="row">
        <dt class="col-sm-3">Voornaam</dt>
        <dd class="col-sm-9">{{ user.firstname }}</dd>
        <dt class="col-sm-3">Achternaam</dt>
        <dd class="col-sm-9">{{ user.lastname }}</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>
        <dt class="col-sm-3">Telefoonnummer</dt>
        <dd class="col-sm-9">{{ user.phonenumber }}</dd>
        <dt class="col-sm-3">Geboortedatum</dt>
        <dd class="col-sm-9">{{ user.birthdate | date("d-m-Y")}}</dd>
        <dt class="col-sm-3">Aanmelddatum</dt>
        <dd class="col-sm-9">{{ user.joindate | date("d-m-Y")}}</dd>
        <dt class="col-sm-3">Voorkeur</dt>
        <dd class="col-sm-9">{{ user.preferredgender }}</dd>
    </dl>


    <a href="/profile/edit" class="btn btn-default active" role="button">Aanpassen</a>
    <br>
    <br>

     <div class="row">
        <div class="col-md-6 bg-light opacity">
            <h2>Gekozen activiteiten</h2>
                <dl class="dl-horizontal">
                {% for activity in activities %}
                <dt></dt>
                <dd>{{ activity.Interest }}</dd>
                {% endfor %}
            </dl>
        </div>
            <div class="col-md-6 bg-light opacity">
                <h2>Gekozen tijdsmomenten</h2>
                    <dl class="dl-horizontal">
                        {% for available in availables %}
                        <dt></dt>
                        <dd>{{ available[0] }}{{ available[1] }}</dd>

                        {% endfor %}
                    </dl>
            </div>
    </div>

    {% if matches is not empty %}
    <h2>Matches</h2>

    <table class="table table-striped table-bordered table-hover" id="myTable">
        <tr>
            <th onclick="sortTable(0)">Naam<img src="/images/Sort_both.png" style="width: 30px"/></th>
            <th onclick="sortTable(1)">Mail<img src="/images/Sort_both.png" style="width: 30px"/></th>
            <th onclick="sortTable(2)">Activiteit<img src="/images/Sort_both.png" style="width: 30px"/></th>
            <th onclick="sortTable(3)">Wanneer<img src="/images/Sort_both.png" style="width: 30px"/></th>
        </tr>

        {% for mat in matches %}
        <tr>
            <td> {{ mat[0]}}</td>
            <td> {{ mat[1]}}</td>
            <td> {{ mat[2]}}</td>
            <td> {{ mat[3]}}{{mat[4]}}</td>
        </tr>
        {% endfor %}
    </table>
    {%endif%}
</article>


{% endblock %}
